/*Nosotros*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../../assets/img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}
@media (min-width: 992px) {
    .nosotros{
        grid-template-columns: repeat(3, 1fr);
    }
}
.contenido-nosotros{
    background-color: var(--blanco);
    padding: 5rem;
}
@media (min-width: 992px) {
    .contenido-nosotros{
        grid-column: 2 / 4;
    }
}
.contenido-nosotros h2,
.contenido-nosotros p{
    margin-bottom: 1rem;
}