<section class="contenedor mt-5 nosotros">
    <div class="contenido-nosotros">
        <h2>Sobre nosotros</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad nulla natus corporis tempora aliquid, cum, consectetur sint excepturi voluptas tempore, voluptates placeat non suscipit dolorum dolores blanditiis ducimus. Culpa!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aut dolores, ut illo aperiam recusandae culpa ipsam labore, rerum sequi reprehenderit quos quaerat velit tempore veniam nesciunt neque.
        </p>
    </div>
</section>
