<main>
    <div class="contenedor mt-5">
        <h2>Conoce nuestros 3 modelos</h2>
        <div class="modelo basico">
            <div class="contenido-modelo">
                <h3>Modelo Básico</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quam rerum eligendi sed, accusantium esse natus quod sequi praesentium nam modi, totam facilis, possimus atque! Aliquam ipsum nihil voluptatem provident!
                </p>
                <a href="#" class="btn">Más información</a>
            </div>
        </div>
        <div class="modelo premier">
            <div class="contenido-modelo">
                <h3>Modelo Premier</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quam rerum eligendi sed, accusantium esse natus quod sequi praesentium nam modi, totam facilis, possimus atque! Aliquam ipsum nihil voluptatem provident!
                </p>
                <a href="#" class="btn">Más información</a>
            </div>
        </div>
        <div class="modelo elite">
            <div class="contenido-modelo">
                <h3>Modelo Elite</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quam rerum eligendi sed, accusantium esse natus quod sequi praesentium nam modi, totam facilis, possimus atque! Aliquam ipsum nihil voluptatem provident!
                </p>
                <a href="#" class="btn">Más información</a>
            </div>
        </div>
        
    </div>
    
</main>
