<section class="contenedor mt-5">
    <h2>Galería</h2>
    <div class="galeria">
        <div class="imagen">
            <img src="assets/img/imagen_1.jpg" alt="imagen de galería">
        </div>
        <div class="imagen">
            <img src="assets/img/imagen_2.jpg" alt="imagen de galería">
        </div>
        <div class="imagen">
            <img src="assets/img/imagen_3.jpg" alt="imagen de galería">
        </div>
        <div class="imagen">
            <img src="assets/img/imagen_4.jpg" alt="imagen de galería">
        </div>
        <div class="imagen">
            <img src="assets/img/imagen_5.jpg" alt="imagen de galería">
        </div>
        <div class="imagen">
            <img src="assets/img/imagen_6.jpg" alt="imagen de galería">
        </div>
        <div class="imagen">
            <img src="assets/img/imagen_7.jpg" alt="imagen de galería">
        </div>
    </div>
</section>
